/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

li {
  text-decoration: none; }

* {
  text-decoration: none; }

html {
  height: 100%; }

body {
  background: linear-gradient(RGBA(108, 129, 184, 0.5), RGBA(159, 129, 184, 0.5)), url("../img/jump.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 100%; }

h1 {
  background-color: #85ECD5;
  color: #590C97;
  text-align: center;
  font-size: 5em; }

.home-btns {
  text-align: center;
  width: 50%;
  background-color: seagreen;
  margin: auto; }

.home-btns a {
  color: white;
  padding: 1em; }

.list {
  text-align: center;
  background-color: rgba(234, 235, 230, 0.8);
  padding: 2em;
  margin-top: 1em; }

.activity-li {
  display: inline-block;
  padding: 0.8em;
  font-size: 40px;
  text-transform: capitalize; }

.fake-li {
  border-right: thick double seagreen;
  padding: 0.5em; }

form {
  padding: 1em; }

form input {
  display: block;
  margin: 0.5em; }

.register {
  text-align: center;
  background-color: rgba(234, 235, 230, 0.8);
  padding: 2em;
  max-width: 50%;
  margin: auto;
  margin-top: 5em;
  border-radius: 3%; }

.register a {
  padding: 2em;
  display: block;
  color: green; }

.details-labels {
  font-weight: bold;
  margin: 0.5em 0; }
