html{
	height: 100%;
}


body{
	background: url("../img/yoga.png"), 
			linear-gradient(to bottom, #ADB2B6, #ABAEB3);
	background-size: cover;
	background-position: bottom;
	min-height: 100%;
}

h1{
	background-color: #85ECD5;
	color: #590C97;
	text-align: center;
	font-size: 5em;
}

