.activities-ul{
	margin: 2em;
	padding: 0.5em;
	background-color: #EEE;

}
.activity-li{
	text-align: center;
	padding: 1em;
	font-size: 2em;
	box-shadow: -3px 7px 21px 6px rgba(146,126,171,0.53);
	
}
