.register{
	text-align: center;
	background-color: rgba(234, 235, 230, 0.8);
	padding: 2em;
	max-width: 50%;
	margin: auto;
	margin-top: 5em;
	border-radius: 3%;
}


.register a{
	padding: 2em;
	display: block;
	color: green;
}